<div class="vertical-center">
  <div class="menu d-flex justify-content-center align-items-center container my-auto">
    <form [formGroup]="menuForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label>Quantas variáveis tem o problema?</label>
        <input type="input" class="form-control" formControlName="variaveis">
      </div>
      <div class="form-group">
        <label>Quantas restrições tem o problema?</label>
        <input type="input" class="form-control" formControlName="restricoes">
      </div>
      <div class="form-group d-flex flex-row-reverse">
        <button [disabled]="!menuForm.valid" class="btn btn-lg btn-primary" type="submit">
          Continuar
        </button>
      </div>
    </form> 
  </div>
</div>
